{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h2>Please manage your checks at <code><a href="{{ path('check_list') }}">/checks</a></code></h2>
{% endblock %}
