body {
    margin-bottom: 6em;
}

a:hover {
    text-decoration: none;
    font-style: normal;
}

mark {
    font-weight: bolder;
}

.btn-custom {
    background-color: #315A7A;
    color: #fff;
}

.nav-custom {
    background-color: #CC8E75;
}

.check-item {
    text-decoration: none;
    color: black;
    padding: 20px;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.check-item:hover {
    background-color: #eee;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.check-item > p.meta {
    color: #315A7A;
    font-size: smaller;
    line-height: 0.7;
}

.check-item > .amount,
.check-item > .account {
    line-height: 0.5;
}

.check-single .controls {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.check-single .control {
    margin: 0 10px 0 0;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
}

.check-single #back {
    background-color: #315A7A;
}

.check-single #edit {
    background-color: #C06C86;
}

.check-single #delete {
    line-height: 1.26;
    background-color: #9AB999;
}

.check-list .controls {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.check-list .control {
    margin: 0 10px 0 0;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
}

.check-list .control#previous {
    background-color: #CC8E75;
}

.check-list .control#next {
    background-color: #C06C86;
}

.check-list .control#new {
    background-color: #315A7A;
}

.bank-item h3 {
    color: #EB4960;
    text-shadow: 1px 1px 2px #000;
}
