{% extends 'base.html.twig' %}

{% block title %}Latest Checks{% endblock %}

{% block body %}
    <div class="check-list">
        <h2>Latest checks from all banks</h1>
        <div class="row mt-4">
            {% for check in checks %}

            <a class="col-4 check-item" href="{{ path('check_show', {id: check.id}) }}">
                <p class="amount">Amount: {{ check.amount|format_currency('EUR', locale="mg") }}</p>
                <p class="account">Account: {{ check.number }}</p>
                <p class="meta">By {{ check.bank.shortName }} on {{ check.paymentDate|date }}</p>
            </a>
            {% endfor %}
            {# controls #}
            <div class="controls">
            {% if previous >= 0 %}
            <p>
                <a href="{{ path('check_list', {offset: previous}) }}" class="control" id="previous">Previous</a></p>
            {% endif %}
            <p>
                <a href="{{ path('check_new') }}" class="control" id="new">Sign a new check</a></p>
            {% if next < checks|length %}
            <p>
                <a href="{{ path('check_list', {offset: next}) }}" class="control" id="next">Next</a></p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
