{% extends 'base.html.twig' %}

{% block title %}Modify Your Check{% endblock %}

{% block body %}
    <div class="check-edit">
        {{ form_start(checkForm) }}
        <div class="row">
            <div class="col-6">{{ form_row(checkForm.number) }}</div>
            <div class="col-6">{{ form_row(checkForm.amount) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_row(checkForm.bank) }}</div>
            <div class="col-6">{{ form_row(checkForm.payment_date) }}</div>
        </div>
        <div class="row">
            <div class="col-12">{{ form_row(checkForm.description) }}</div>
        </div>
        <div class="row text-right">
            <div class="col-auto text-right">
                <button type="submit" class="btn btn-custom">Create Now !!</button>        
            </div>
        </div>
        {{ form_end(checkForm) }}
    </div>
{% endblock %}
