<nav class="navbar navbar-expand-lg navbar-light nav-custom">
  <a class="navbar-brand" href="{{ path('app_home') }}">Demo Check</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="{{ path('app_home') }}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="{{ path('bank_list') }}">Banks</a>
      <a class="nav-link" href="{{ path('check_list') }}">Checks</a>
      
      {% if is_granted("ROLE_ADMIN") %}
      <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Back Office</a>
      {% endif %}
      
      {% if not app.user %}
      <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
      {% else %}
      <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
      {% endif %}
    </div>
  </div>
</nav>