{% extends 'base.html.twig' %}

{% block title %}List of Registered Banks{% endblock %}

{% block body %}
    <div class="check-list">
        <h2>List of registered Banks</h1>
        <div class="row mt-4">
            {# {% for check in checks %}

            <a class="col-4 check-item" href="{{ path('check_show', {id: check.id}) }}">
                <p class="amount">Amount: {{ check.amount|format_currency('EUR', locale="mg") }}</p>
                <p class="account">Account: {{ check.number }}</p>
                <p class="meta">By {{ check.bank.shortName }} on {{ check.paymentDate|date }}</p>
            </a>
            {% endfor %}
            {# controls #}
            {% for bank in banks %}
            <div class="col-12 bank-item">
                <h3>{{ bank.name }}</h3>
                <p>{{ bank.description }}</p>
                <p>Number of delivered checks: <mark>{{ bank.checks|length }}</mark> (<a href="#">See latest checks from {{ bank.shortName }}</a>)</p>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
